@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

body {
  @apply bg-white text-black dark:bg-coolGray dark:text-white;
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-110deg, #0063c7 20%, #001e46 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-110deg, #0063c7 20%, #001e46 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Write your own custom component styles here */
@font-face {
  font-family: 'Poppins', sans-serif;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.bg-main {
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0063c7 20%, #001e46 100%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0063c7 20%, #001e46 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scrollbars-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbars-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.-z-1 {
  z-index: -1;
}

.toggle-dot {
  transition: all 0.3s ease-in-out;
}

.text-stroke {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: white;
}

#toogle-theme:checked ~ .toggle-dot {
  transform: translateX(28px);
}

.ant-form-item {
  margin-bottom: 8px !important;
}

.full-width {
  width: 100% !important;
}